<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843588128445-4fjuua5d5232c1mste1f0d7eocv6ut5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843588128445-4fjuua5d5232c1mste1f0d7eocv6ut5m</string>
	<key>API_KEY</key>
	<string>AIzaSyBojli0xwjpKk4Ti6xGFrbOpQ04G3IZN0s</string>
	<key>GCM_SENDER_ID</key>
	<string>843588128445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.merchantApp</string>
	<key>PROJECT_ID</key>
	<string>merchantapp-5014d</string>
	<key>STORAGE_BUCKET</key>
	<string>merchantapp-5014d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843588128445:ios:696fc3c3376bef683bf1d4</string>
</dict>
</plist>